<a href="https://github.com/zenochan/ngx-datatable">GitHub</a>
<div [zzPage] class="col-12" [data]="data" #pg="page">
  <table class="table table-striped">
    <thead>
      <tr>
        <th style="width: 20%">
          <zz-sorter by="name">Name</zz-sorter>
        </th>
        <th style="width: 50%">
          <zz-sorter by="email">Email</zz-sorter>
        </th>
        <th style="width: 10%">
          <zz-sorter by="age">Age</zz-sorter>
        </th>
        <th>
          <zz-sorter by="city">City</zz-sorter>
        </th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let item of pg.data">
        <td>{{item.name}}</td>
        <td>{{item.email}}</td>
        <td>{{item.age}}</td>
        <td>{{item.city}}</td>
      </tr>
    </tbody>

    <tfoot>

      <tr>
        <td colspan="8">
          <zz-bootstrap-paginator></zz-bootstrap-paginator>
        </td>
      </tr>
    </tfoot>

  </table>
</div>
<router-outlet></router-outlet>

